.header {
    list-style-type: none;
    position: fixed;
    top: 0;
    left: 0;
}

.header a {
    text-decoration: none;
}

.sidebar {
    position: fixed;
    left: calc(50% + 25em);
    top: 0;
    width: 150px;
    list-style-type: none;
    padding: 16px;
    margin-top: 0px;
    border: solid 2px #fff;
}

.sidebar li {
    display: block;
    border-left: solid 2px;
    padding-left: 8px;
}

.sidebar li a {
    text-decoration: none;
}

.sidebar li:first-child {
    border-top: solid 2px;
}

@media (max-width: calc(50em + (150px + 32px + 19px) * 2)) {
    .sidebar{
        left: auto;
        right: 8px;
        border-color: #555;
        background: #fff;
        z-index: 999;
    }
}
